name: Docker Build

on:
    push:
      branches: ["master", "main"]
    pull_request:
      branches: ["*"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Docker
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-ce
          sudo systemctl start docker
          sudo systemctl enable docker
          sudo usermod -aG docker ${USER}

      - name: Build
        run: make docker-build
      - name: Test
        run: make docker-test
